.contenedor-pagina-tours{
    min-height: calc(100vh - 260px);
}

.contenedor-pagina-tours-links{
    background-color: #ededed;
    font-size: 25px;
    font-weight: bold;
}

.contenedor-pagina-tours-parrafo{
    color: #00BBE3;
    border-bottom: 2px solid #ededed !important;    
    font-family: Nova Flat;
    font-weight: bold;
    margin: 15px 15px 10px 15px;
}

.contenedor-pagina-tours-categorias{
    color: #003355;
    border-bottom: 2px solid #ededed !important;    
    font-family: Nova Flat;
    margin: 15px 15px 10px 15px;
}

.contenedor-pagina-tours-categorias:hover{
    color: #00BBE3 !important;
    border-bottom: 2px solid #003355 !important;
    background-color: #ededed;
}

.contenedor-pagina-tours-categorias.active{
    color: #00BBE3 !important;
    border-bottom: 2px solid #003355 !important;
    background-color: #ededed;
}

.tours-titulo{
    text-align: center;
    padding: 35px;
    color: #00BBE3;
    font-size: 60px;
    font-weight: bold;
    font-family: Fredericka the Great;
}

.tours-parrafo{
    text-align: center;
    font-family: Nova Flat;
    font-size: 21px;
    color: #003355;
}