.contenedor-articulo-inicio{
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    border-bottom: 2px solid #003355;
    box-shadow: 0px 8px 8px #003355;
    font-family: Nova Flat;
}

.articulo-titulo-inicio{
    margin: 5px;
    color: #00BBE3;
    font-size: 55px;
    font-weight: bold;
    font-family: Fredericka the Great;
}

.articulo-parrafo-inicio{
    padding: 0px 9px 0px 9px;
    text-align: center;
    font-size: 19px;
    color: #003355;
}