.fondo-barra-navegacion {
    background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 1)), url('./assets/BotesTanzania.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.barra-navegacion {
    border-bottom: 2px solid #003355;
    box-shadow: 0px 8px 8px #003355;
    height: 140px;
    width: 100%;
}

.barra-navegacion-titulo{
    font-family: Fredericka the Great;
    text-align: left;
    font-weight: bold;
    font-size: 75px;
}

.barra-navegacion-enlaces{
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: Nova Flat;    
}

.barra-navegacion-enlaces-texto{
    color: #003355 !important;
}

.barra-navegacion-enlaces-texto:hover{
    color: #00BBE3 !important;
    border-bottom: 2px solid #003355;
    background-color: #ededed;
}

.barra-navegacion-enlaces-texto.active {
    color: #00BBE3 !important;
    border-bottom: 2px solid #003355;
    background-color: rgba(237, 237, 237, 0.7);
    box-shadow: 0px 8px 8px #003355;
}