.contenedor-pagina-inexistente{
    min-height: calc(100vh - 260px);
    max-height: calc(100vh - 260px);
    overflow-y: auto;
}

.titulo-pagina-inexistente{
    font-size: 70px;
    font-weight: bold;
    font-family: Fredericka the Great;
}

.parrafo-pagina-inexistente{
    font-family: Nova Flat;
    font-size: 26px;
    color: #003355;
    font-weight: bold;
}