.estilos-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Nova Flat;
}

.estilos-footer-superior{
    height: 90px;
    background-color: #00BBE3;

}

.redes-iconos-footer{
    padding: 0px 15px 0px 15px;
    font-size: 50px;
    font-weight: bold;
    color: #003355;
    transition: all 0.3s;
}

.redes-iconos-footer:hover{
    color: #ededed;
    background-color: #003355;
    border-radius: 50%;
    border: solid black 2px;
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px) rotate(15deg); }
    50% { transform: translateX(3px) rotate(-15deg); }
    75% { transform: translateX(-3px) rotate(15deg); }
    100% { transform: translateX(3px) rotate(-15deg); }
}

.direccion-parrafo-footer{
    font-size: 16px;
    text-align: end;
    margin: -5px;
    color: #ededed;
}

.estilos-footer-inferior{
    height: 30px;
    color: #ededed;
    background-color: #003355;
}